.btc {
  display: block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background: url('images/crypto-icons/btc.svg');
  background-size: 30px 30px;
}
.eth {
  display: block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background: url('images/crypto-icons/eth.svg');
  background-size: 30px 30px;
}
.usdt {
  display: block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background: url('images/crypto-icons/usdt.svg');
  background-size: 30px 30px;
}
.trx {
  display: block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background: url('images/crypto-icons/trx.svg');
  background-size: 30px 30px;
}
.ada {
  display: block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background: url('images/crypto-icons/ada.svg');
  background-size: 30px 30px;
}