.dashboard-nav {
  background-color: $white;
  max-height: 64px;
  min-height: 64px;
  display: flex;
  align-items: center;
  @include dark-mode {
    background: $dark-mode-dark;
  }
  .nav-item {
    color: $navbar-light-color;
    &:hover,
    &:focus {
      color: $navbar-light-active-color;
    }
  }
}
/*
.dashboard-nav {
  background-color: $dark;
  .nav-item {
    color: $navbar-dark-color;
    &:hover,
    &:focus {
      color: $navbar-dark-active-color;
    }
  }
}*/
