.auth-history {

  .auth-history-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: $border-color;
    font-size: $font-size-base-less;
    line-height: $line-height-lg;
    padding: 12px 0;
    @include dark-mode {
      border-color: $border-color-dark;
    }
    .ip-date {
      display: flex;
      flex-direction: column;
    }
    .device {
      text-align: left;
    }
    &:first-child {

    }
    &:last-child {
      border-width: 0;
    }
  }
}