.order-details-wrapper {
  display: flex;
  flex-direction: column;
  background: $body-bg;
  border-radius: 10px;
  @include dark-mode {
    background: $dark-mode-darken;
  }

  .items {
    padding: 15px;

    .item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      font-size: .8rem;

      &:last-child {
        margin-bottom: 0;
      }

      .title {
        font-weight: 400;
      }

      .desc {
        font-weight: 500;
      }
    }
  }

  .divide {
    border-width: 1px;
    border-bottom-style: solid;
    border-color: $border-color;
    @include dark-mode {
      border-color: $border-color-dark;
    }
  }

  .total-cost {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;

    .title {
      font-weight: 500;
      font-size: 1rem;
    }
    .price {
      font-size: 1.3rem;
      font-weight: 700;
    }
  }
}
