<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>داشبورد</title>
</head>
<body class="theme-light">
<div class="d-flex">

    <!-- begin:: sidenav -->
    <div class="sidebar">
        <div class="sidebar-items px-6">

            <!-- begin:: profile -->
            <div class="d-none d-md-flex flex-row min-h-16 align-items-center">
                <div class="ms-2">
                    <div class="w-12 h-12 rounded-circle overflow-hidden bg-info profile-dropdown"  type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="user-profile.png">
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">پنل کاربری</a>
                        <a class="dropdown-item" href="#">سرویس های من</a>
                        <a class="dropdown-item" href="#">امنیت</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">خروج</a>
                    </div>
                </div>
                <div class="">
                    <h5>به کریپتو وی خوش اومدین</h5>
                    <h6 class="mb-0">شما 7 پیغام نخوانده دارید</h6>
                </div>
            </div>
            <!-- end:: profile -->

            <!-- begin:: close menu btn (Small breakpoints) -->
            <i class="far fa-times close-sidebar my-6 d-md-none"></i>
            <!-- end:: close menu btn (Small breakpoints) -->

            <!-- begin:: sidebar links -->
            <ul class="sidebar-nav nav">
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="fas fa-home-lg-alt"></i>
                        پنل کاربری
                    </a>
                </li>
                <li class="nav-item has-sub">
                    <a href="" class="nav-link" data-bs-toggle="collapse" role="button" data-bs-target=".sub1">
                        <i class="fas fa-server"></i>
                        آیپی ثابت و اختصاصی
                    </a>
                    <ul class="sub-items nav collapse sub1">
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="fas fa-circle"></i>
                                خرید آی پی جدید
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-circle"></i>
                                آی پی های فعال
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-circle"></i>
                               شرایط و قوانین سرویس آی پی ثابت
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-sub">
                    <a href="" class="nav-link" data-bs-toggle="collapse" role="button" data-bs-target=".sub2">
                        <i class="fas fa-fingerprint"></i>
                        خدمات احرازهویت
                    </a>
                    <ul class="sub-items nav collapse sub2">
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="fas fa-circle"></i>
                                ثبت سفارش جدید
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-circle"></i>
                                سفارش های فعال
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-circle"></i>
                                شرایط و قوانین احرازهویت
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-sub">
                    <a href="" class="nav-link" data-bs-toggle="collapse" role="button" data-bs-target=".sub3">
                        <i class="fas fa-user-headset"></i>
                        پشتیبانی
                    </a>
                    <ul class="sub-items nav collapse sub3">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-circle"></i>
                                ثبت تیکت جدید
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-circle"></i>
                                تیکت های فعال
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-circle"></i>
                                همه ی تیکت ها
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-sub">
                    <a href="" class="nav-link" data-bs-toggle="collapse" role="button" data-bs-target=".sub4">
                        <i class="fas fa-file-invoice-dollar"></i>
                        صورت حساب
                    </a>
                    <ul class="sub-items nav collapse sub4">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-circle"></i>
                                صورت حساب های پرداخت نشده
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-circle"></i>
                                همه ی صورت حساب ها
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="fas fa-cog"></i>
                        تنظیمات کاربری
                    </a>
                </li>
            </ul>
            <!-- end:: sidebar links -->

            <!-- begin:: switcher mode (Small breakpoints) -->
            <div class="flex-between-center d-md-none">
                <div class="d-inline-flex opacity-80">
                    <i class="fas fa-palette font-4 ms-2.5"></i>
                    <span>حالت شب</span>
                </div>
                <div class="switcher-mode-slide">
                    <div class="switcher-mode-wrapper">
                        <div class="switcher-toggler">
                            <i class="fas fa-moon cursor-pointer light-vector"></i>
                            <i class="sun-light-icon cursor-pointer dark-vector"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end:: switcher mode (Small breakpoints) -->

        </div>
    </div>
    <!-- end:: sidenav -->

    <div class="flex-fill w-full">

        <!-- begin:: Top nav -->
        <header class="dashboard-nav">
            <div class="container-fluid flex-between-center">

                <!-- begin::Item Nav -->
                <div class="d-flex align-items-center">
                    <!-- begin:: menu switcher (Small breakpoints) -->
                    <i class="far fa-bars ms-5 font-5 d-md-none sidebar-trigger"></i>
                    <!-- end:: menu switcher (Small breakpoints) -->

                    <!-- begin:: switcher mode (Large breakpoints) -->
                    <div class="switcher-mode ms-5 d-none d-md-flex switcher-toggler">
                        <i class="fas fa-moon font-5 cursor-pointer light-vector"></i>
                        <i class="sun-light-icon cursor-pointer dark-vector"></i>
                    </div>
                    <!-- end:: switcher mode (Large breakpoints) -->

                    <!-- begin:: Notifications Toggle -->
                    <i class="fas fa-bell font-5 cursor-pointer"></i>
                    <!-- end:: Notifications Toggle -->
                </div>
                <!-- end::Item Nav -->

                <!-- begin: logo (Large breakpoint) -->
                <div class="logo d-none d-md-flex">
                    <a href="#" class="d-flex">
                        <img src="logo-text-light.svg" alt="CryptoWayNow" class="light-vector"/>
                        <img src="logo-text-dark.svg" alt="CryptoWayNow" class="dark-vector"/>
                    </a>
                </div>
                <!-- end:: logo (Large breakpoint) -->

                <!-- begin: logo (Small breakpoint) -->
                <div class="logo d-md-none">
                    <a href="#" class="d-flex w-full justify-content-center">
                        <img src="logo.svg" alt="CryptoWayNow"/>
                    </a>
                </div>
                <!-- end:: logo (Small breakpoint) -->

            </div>
        </header>
        <!-- end:: Top nav -->

        <div class="page-wrapper">
            <div class="page-body">
                <div class="container-fluid">
                    <div class="row row-cards">
                        <div class="col-6 col-xl-2">
                            <div class="card">
                                bitcoin
                            </div>
                        </div>
                        <div class="col-6 col-xl-2">
                            <div class="card">
                                bitcoin
                            </div>
                        </div>
                        <div class="col-6 col-xl-2">
                            <div class="card">
                                bitcoin
                            </div>
                        </div>
                        <div class="col-6 col-xl-2">
                            <div class="card">
                                bitcoin
                            </div>
                        </div>
                        <div class="col-6 col-xl-2">
                            <div class="card">
                                bitcoin
                            </div>
                        </div>
                        <div class="col-6 col-xl-2">
                            <div class="card">
                                bitcoin
                            </div>
                        </div>
                    </div>
                    <div class="row row-cards">
                        <div class="col-12 col-xl-8">
                            <div class="card">

                                <!-- begin:: section title -->
                                <div class="page-header">
                                    <div class="align-items-center">
                                        <h2 class="page-title">آخرین تیکت ها</h2>
                                    </div>
                                </div>
                                <!-- end:: section title -->

                                <!-- begin:: last tickets -->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="w-36 text-center">شماره تیکت</th>
                                            <th>موضوع</th>
                                            <th>زمان</th>
                                            <th>وضعیت</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center"><span class="number"><a href="#" class="number">1542532</a></span></td>
                                            <td><a href="#">عدم تایید شدن پرداخت</a></td>
                                            <td class="font-3">2 ساعت پیش</td>
                                            <td><span class="badge badge-pill bg-primary">درحال بررسی</span></td>
                                            <td class="text-start"><a href="#"><i><i class="fa-light fa-circle-arrow-left font-5 align-middle"></i></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><span class="number"><a href="#" class="number">1542532</a></span></td>
                                            <td><a href="#">عدم تایید شدن پرداخت</a></td>
                                            <td class="font-3">2 ساعت پیش</td>
                                            <td><span class="badge badge-pill bg-warning">منتظر پاسخ شما</span></td>
                                            <td class="text-start"><a href="#"><i><i class="fa-light fa-circle-arrow-left font-5 align-middle"></i></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><span class="number"><a href="#" class="number">1542532</a></span></td>
                                            <td><a href="#">عدم تایید شدن پرداخت</a></td>
                                            <td class="font-3">2 ساعت پیش</td>
                                            <td><span class="badge badge-pill bg-secondary">بسته شده</span></td>
                                            <td class="text-start"><a href="#"><i><i class="fa-light fa-circle-arrow-left font-5 align-middle"></i></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><span class="number"><a href="#" class="number">1542532</a></span></td>
                                            <td><a href="#">عدم تایید شدن پرداخت</a></td>
                                            <td class="font-3">2 ساعت پیش</td>
                                            <td><span class="badge badge-pill bg-success">پاسخ داده شده</span></td>
                                            <td class="text-start"><a href="#"><i><i class="fa-light fa-circle-arrow-left font-5 align-middle"></i></i></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- end:: last tickets -->

                            </div>
                        </div>
                        <div class="col-12 col-xl-4">
                            <div class="card min-h-full">

                                <!-- begin:: section title -->
                                <div class="page-header">
                                    <div class="align-items-center">
                                        <h2 class="page-title">ورود ها</h2>
                                    </div>
                                </div>
                                <!-- end:: section title -->

                                <!-- begin:: login history -->
                                <div class="auth-history">
                                    <div class="auth-history-items">
                                        <div class="ip-date">
                                            <span>195.201.82.206</span>
                                            <span>2021-11-16 21:40:15</span>
                                        </div>
                                        <div class="device">
                                            <span>Chrome V93.0.4619.140 (Windows)</span>
                                        </div>
                                    </div>
                                    <div class="auth-history-items">
                                        <div class="ip-date">
                                            <span>195.201.82.206</span>
                                            <span>2021-11-16 21:40:15</span>
                                        </div>
                                        <div class="device">
                                            <span>Chrome V93.0.4619.140 (Windows)</span>
                                        </div>
                                    </div>
                                    <div class="auth-history-items">
                                        <div class="ip-date">
                                            <span>195.201.82.206</span>
                                            <span>2021-11-16 21:40:15</span>
                                        </div>
                                        <div class="device">
                                            <span>Chrome V93.0.4619.140 (Windows)</span>
                                        </div>
                                    </div>
                                    <div class="auth-history-items">
                                        <div class="ip-date">
                                            <span>195.201.82.206</span>
                                            <span>2021-11-16 21:40:15</span>
                                        </div>
                                        <div class="device">
                                            <span>Chrome V93.0.4619.140 (Windows)</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- end:: login history -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="overlay"></div>

</body>
<script type='module'>
    let navTrigger = document.querySelector('.sidebar-trigger')
    let nav = document.querySelector('.sidebar')
    let closeBtn = document.querySelector('.close-sidebar')
    let overlay = document.querySelector('.overlay')
    let menuLinks = nav.querySelectorAll('.nav-item .nav-link')

    navTrigger.onclick = function () {
        nav.classList.add('show')
        overlay.classList.add('show')
    }
    closeBtn.onclick = function () {
        nav.classList.remove('show')
        overlay.classList.remove('show')
    }
    overlay.onclick = function () {
        nav.classList.remove('show')
        overlay.classList.remove('show')
    }
    /*for (let link of menuLinks) {
        link.addEventListener('click', function () {
            nav.classList.remove('show')
            overlay.classList.remove('show')
        })
    }*/



    // Sidebar
   /* $('.nav-item.has-sub > .nav-link').click(function (e){
        e.preventDefault()
        $(this).siblings('.sub-items').slideToggle()
        $(this).parent().toggleClass('active')
    })*/
</script>
</html>