/* Font path variables */
$IranSansX-path: 'fonts/IranSansX';
$Fontawesome-path: 'fonts/fontawesome';
$IRANYekan-path: 'fonts/IRANYekan';

/* Font Family variables */
$font-family-IRANSansX:       IRANSansX !default;
$font-family-IRANYekan:       iranyekan !default;